/* PAGE */

.recipe-page{
display:flex;
justify-content:center;
align-items:center;
padding:40px 20px;
background:#19243b;
font-family:Segoe UI, sans-serif;
}


/* CARD */

.recipe-details-card{
width:500px;
height: 700px;
background:white;
border-radius:15px;
border:10px solid #1f3c5b;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
text-align:center;
padding:20px;
}


/* IMAGE */

.recipe-details-image{
width:100%;
max-width:260px;
height:180px;
object-fit:cover;
border-radius:10px;
margin:0 auto 20px auto;
display:block;
border:5px solid #1f3c5b;
}


/* CONTENT */

.recipe-details-content{
padding:5px;
}


/* TITLE */

.recipe-details-title{
font-size:24px;
color:#1f3c5b;
margin-bottom:5px;
font-weight:700;
}


/* META */

.recipe-meta{
font-size:14px;
color:#666;
margin-bottom:5px;
}


/* INSTRUCTION BOX */

.recipe-instructions-box{
background:#1f3051;
padding:15px;
border-radius:8px;
border:1px solid #ddd;
max-height:320px;
overflow-y:auto;
}


/* INSTRUCTIONS */

.recipe-instructions{
font-size:14px;
line-height:1.7;
color:white;
padding-left:20px;
text-align:left;
}


/* LIST */

.recipe-instructions li{
margin-bottom:8px;
}


/* BUTTON */

.back-btn{
margin-top:20px;
padding:10px 22px;
border:none;
background:#1f3c5b;
color:white;
border-radius:6px;
cursor:pointer;
font-weight:600;
transition:0.3s;
}

.back-btn:hover{
background:white;
color: rgb(31, 31, 70);
}


/* MOBILE */

@media(max-width:768px){

.recipe-details-card{
width:90%;
padding:15px;
}

.recipe-details-image{
max-width:220px;
height:150px;
}

.recipe-details-title{
font-size:20px;
}

.recipe-instructions{
font-size:13px;
}

}